* {
     -palette-dark-color:#34363E;
     -palette-light-color:#E7F9F8;
     -palette-midtone1-color:#A9B3CE;
     -palette-midtone2-color:#7284A8;
     -palette-accent-color:#9E788F;
}

.menu-bar .label {
    -fx-text-fill: -palette-light-color;
}

.menu-bar .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

.menu-item, .menu {
    -fx-accent: #4477BB;
}

.menu-item .accelerator-text {
    -fx-text-fill: #909794;
}

.context-menu, .menu-bar {
    -fx-border-color: #222222;
    -fx-background-color: -palette-dark-color;
    -fx-padding: 0;
}

.scroll-pane .scroll-bar .track { -fx-background-color: #EEEEEE; }
.scroll-pane .increment-button, .scroll-pane .decrement-button {
    -fx-background-insets: 0;
    -fx-background-color: #EEEEEE;
    -fx-padding: 5;
}
.scroll-pane .increment-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: #333333;
    -fx-rotate: -90;
    -fx-padding: 0.22em;
}
.scroll-pane .decrement-arrow {
    -fx-shape: "M 0 0 L 4 8 L 8 0 Z";
    -fx-background-color: #333333;
    -fx-rotate: 90;
    -fx-padding: 0.22em;
}
.scroll-pane .increment-button:hover, .scroll-pane .decrement-button:hover { -fx-background-color: #E5E5E5; }
.scroll-pane .increment-button:pressed, .scroll-pane .decrement-button:pressed { -fx-background-color: #666666; }
.scroll-pane .increment-button:pressed .increment-arrow,
.scroll-pane .decrement-button:pressed .decrement-arrow { -fx-background-color: #EEEEEE; }
.scroll-pane .scroll-bar .thumb {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-background-color: #CFCFCF;
}
.scroll-pane .scroll-bar .thumb:hover { -fx-background-color: #AAAAAA; }
.scroll-pane .scroll-bar .thumb:pressed { -fx-background-color: #888888; }

.table-view {
    -fx-padding: 0;
    -fx-border-width: 0;
    -fx-background-insets: 0;
    -fx-background-color: -palette-light-color;
    -fx-table-cell-border-color: transparent;
}

.column-header-background {
    -fx-padding: -1em;
}

.hex-text .scroll-bar,
.table-view .scroll-bar:horizontal, .list-view .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-padding: -1em;
}

.table-view .increment-button, .table-view .decrement-button { -fx-opacity: 0; }
.table-view .scroll-bar .thumb {
    -fx-background-color: -palette-midtone2-color;
    -fx-background-radius: 0;
    -fx-border-color: -palette-dark-color;
    -fx-opacity: 0.3;
    -fx-background-insets: 0;
    -fx-padding: -1em;
}
.table-view .scroll-bar .thumb:hover { -fx-background-color: derive(-palette-midtone2-color, -10%); }
.table-view .scroll-bar .thumb:pressed { -fx-background-color: derive(-palette-midtone2-color, -20%); }
.table-view .scroll-bar .track, .table-view .scroll-bar .track-background {
    -fx-opacity: 0;
    -fx-background-color: transparent;
}
.table-view .scroll-bar {
    -fx-background-color: transparent;
    -fx-padding: -1em;
}

.separator .line {
  -fx-border-color: #777777;
  -fx-border-width: 1 0 0 0;
}

.table-view .table-cell {
    -fx-text-fill: -palette-dark-color;
    -fx-accent: #4477BB;
}

.table-view .cell:selected {
   -fx-background-color: #4477BB;
   -fx-border-color: #4477BB;
   -fx-border-width: 1;
}

.table-view .table-cell:edited {
    -fx-text-fill: derive(-palette-accent-color, -30%);
    -fx-font-weight: bold;
}

.table-view .table-cell:null-value {
    -fx-text-fill: derive(-palette-light-color, -20%);
    -fx-accent: #4477BB;
}

.table-row-cell:even {
    -fx-background-color: derive(-palette-light-color, -5%);
    -fx-background-insets: 0 0 1 0;
    -fx-border-width: 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd {
    -fx-background-color: -palette-light-color;
    -fx-border-width: 0;
    -fx-background-insets: 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .index-list:even {
    -fx-background-color: -palette-midtone1-color;
    -fx-border-color: -palette-midtone1-color;
    -fx-border-width: 0 1 1 0;
}

.table-view .index-list:odd {
    -fx-background-color: -palette-midtone2-color;
    -fx-border-color: -palette-midtone2-color;
    -fx-border-width: 0 1 1 0;
}

.text-field-table-cell .text-field {
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.table-header {
    -fx-background-color: -palette-accent-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.table-header .cell:even {
    -fx-background-color: -palette-accent-color;
    -fx-text-fill: -palette-light-color;
    -fx-padding: 0em;
}

.table-header .cell:odd {
    -fx-background-color: -palette-accent-color;
    -fx-text-fill: -palette-light-color;
    -fx-padding: 0em;
}

.hex-text {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.hex-text .cell {
    -fx-font-family: Monospaced;
    -fx-background-color: derive(-palette-light-color, 25%);
    -fx-cell-size: 29px;
}

.hex-text .cell:edited {
    -fx-font-weight: bold;
}

.tab-pane {
    -fx-tab-min-height: 20;
    -fx-tab-min-width: 40;
    -fx-background-color: -palette-dark-color;
}

.tab-pane .tab {
    -fx-background-color: derive(-palette-accent-color, -20%);
    -fx-border-color: derive(-palette-accent-color, -20%);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 1 0;
}

.tab-pane .tab:hover { -fx-background-color: derive(-palette-accent-color, -15%); }

.tab-pane .tab:selected, .tab-pane .tab:selected:hover { -fx-background-color: -palette-accent-color; }

.tab-pane .tab-close-button { -fx-background-color: derive(-palette-accent-color, -30%); }
.tab-pane .tab-close-button:hover { -fx-background-color: derive(-palette-accent-color, -40%); }
.tab-pane .tab-close-button:pressed { -fx-background-color: derive(-palette-accent-color, -15%); }

.tab-pane .tab .tab-label { -fx-text-fill: derive(-palette-light-color, -40%); }
.tab-pane .tab:selected .tab-label { -fx-text-fill: -palette-light-color; }

.tab-pane .tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
}
.tab-pane .tab-header-background { -fx-background-color: -palette-dark-color; }

.tab-pane .focus-indicator { -fx-opacity: 0; }

.place-holder {
    -fx-background-color: -palette-dark-color;
    -fx-text-fill: -palette-light-color;
}
