.menu-bar .label {
    -fx-text-fill: #F0F7F4;
}

.menu-bar .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

.menu-item, .menu {
    -fx-accent: #4477BB;
}

.menu-item .accelerator-text {
    -fx-text-fill: #909794;
}

.context-menu, .menu-bar {
    -fx-border-color: #222222;
    -fx-background-color: #32292F;
    -fx-padding: 0;
}

.table-view {
    -fx-padding: 0;
    -fx-background-color: #F0F7F4;
    -fx-table-cell-border-color: transparent;
}

.column-header-background {
    -fx-padding: -1em;
}

.scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-background-color: transparent;
    -fx-padding: -1em;
}

.table-view .increment-button, .table-view .decrement-button {
    -fx-opacity: 0;
}

.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: #705D56;
    -fx-background-radius: 0;
    -fx-border-color: #32292F;
    -fx-opacity: 0.3;
    -fx-background-insets: 0;
}

.table-view .scroll-bar .thumb:hover {
    -fx-background-color: #505050;
}

.table-view .scroll-bar .thumb:pressed {
    -fx-background-color: #707070;
}

.table-view .scroll-bar:vertical .track ,
.table-view .scroll-bar:vertical .track-background {
    -fx-opacity: 0;
}

.table-view .scroll-bar:vertical {
  -fx-background-color: transparent;
  -fx-padding: -1em;
}

.separator .line {
  -fx-border-color: #777777;
  -fx-border-width: 1 0 0 0;
}

.table-view .table-cell {
    -fx-text-fill: #32292F;
    -fx-accent: #4477BB;
    -fx-cell-size: 160;
}

.table-view .cell:selected {
   -fx-background-color: #4477BB;
   -fx-border-color: #4477BB;
   -fx-border-width: 1;
}

.table-row-cell:even {
    -fx-background-color: #70ABAF;
    -fx-background-insets: 0 0 1 0;
    -fx-border-width: 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd {
    -fx-background-color: #99E1D9;
    -fx-border-width: 0;
    -fx-background-insets: 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .index-list:even {
    -fx-background-color: #705D56;
    -fx-border-color: #503D36;
    -fx-border-width: 0 1 1 0;
}

.table-view .index-list:odd {
    -fx-background-color: #806D66;
    -fx-border-color: #503D36;
    -fx-border-width: 0 1 1 0;
}

.text-field-table-cell .text-field {
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.table-header {
    -fx-background-color: #D0D7D4;
    -fx-background-insets: 0;
}

.table-header .cell:even {
    -fx-background-color: #F0F7F4;
    -fx-text-fill: #70ABAF;
    -fx-padding: 0em;
}

.table-header .cell:odd {
    -fx-background-color: #E0E7E4;
    -fx-text-fill: #70ABAF;
    -fx-padding: 0em;
}